cachetools==2.1.0
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.6
ItsDangerous==1.0.0
Jinja2==2.10
joblib==0.12.5
MarkupSafe==1.0
numpy==1.15.3
pandas==0.23.4
python-dateutil==2.7.3
pytz==2018.5
scikit-surprise==1.0.6
scipy==1.1.0
six==1.11.0
Werkzeug==0.14.1
