<div style="max-height: 80vh;">
  <button *ngIf="currentPlotType !== undefined"
          class="mat-elevation-z20"
          mat-button
          (click)="changePlot()"
          color="primary"
          style="width: 15%; margin-bottom: 1%; height: 5vh">
    {{ currentPlotType.toString() }}
  </button>

  <div style="height: 75vh;">
    <div [hidden]="currentPlotType !== PlotType.TIMESTAMP" style="height: 100%;">
      <canvas id="timestampPlot" style="height: 100%;">
        <!-- Place for injected plot -->
      </canvas>
    </div>

    <div [hidden]="currentPlotType !== PlotType.INTERACTIONS" style="height: 100%;">
      <canvas id="interactionsPlot" style="height: 100%;">
        <!-- Place for injected plot -->
      </canvas>
    </div>
  </div>
</div>
